body{
	/*text-align: center;*/
	background: #42B8ED;
}
#cpuHand{
	margin-top: 20px;
}
.hand-container{
	background: #e6f5ff;
	width: 350px;
	height: 100px;
	margin-left: 500px;
}
.handCard{
	width: 56px;
	height: 90px;
	margin: 5px;
	display: inline-block;
	background: url("../img/back1.jpg");
	background-size:cover;
}
.deck{
	width: 90px;
	height: 130px;
	background: #e6f5ff;
	margin-left: 620px;
	margin-top: 20px;
	background: url("../img/back1.jpg");
	background-size: cover;
}
.middle-row{
	width: 600px;
	height: 150px;
	margin-left: 455px;
}
.helpCard{
	width: 80px;
	height: 115px;
	background: #e6f5ff;
	margin: 20px;
	display: inline-block;
	background: url("../img/back1.jpg");
	background-size: cover;
}
.startCard{
	width: 70px;
	height: 100px;
	background: #e6f5ff;
	margin: 20px 10px;
	display: inline-block;
	background: url("../img/back1.jpg");
	background-size: cover;
}